// Navigation Styles here

    .title{
        border-bottom: 2px dashed @navigation-border;
        .flexin(row, space-between, center);
        padding:3% 0;
        nav{
            width:50%;
            .flexin(row, space-between, center);
            a{
            font-family: 'Roboto', sans-serif;
            font-size:1.6rem; 
            color:@shark;
            text-decoration: none;
            padding:0 3%;
         
        }
    }
    
}
    .image{
        margin-bottom: 3%;
    }
